@model IEnumerable<SoilReaderPanel.Models.DeviceViewModel>

@{
    ViewData["Title"] = "Panel";
}
<script>
    $(document).ready(function () {
        $("details").click(function () {
            $("devicecard").hide();
        });
    });
</script>

<h1>Device Panel</h1>

<p>
    <a asp-action="AddDevice">
        <button type="button" class="btn btn-primary">

            Add Device <span class="badge badge-light"><i class="fas fa-plus"></i></span>
        </button>
    </a>
</p>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 pt-4 pb-0 card border-info">
                <div class="row devicecard">
                    <div class="col-md-10 offset-md-1">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: @item.ReadingAsInt%"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img class="img-fluid" src=@Html.DisplayFor(modelItem => item.ImageLocation) />
                    </div>
                    <div class="col-md-12">
                        <b>@Html.DisplayNameFor(modelItem => item.DeviceName): </b>
                        @Html.DisplayFor(modelItem => item.DeviceName)
                    </div>
                    <div class="col-md-12">
                        <b>@Html.DisplayNameFor(modelItem => item.ParticleDeviceID): </b>
                        @Html.DisplayFor(modelItem => item.ParticleDeviceID)
                    </div>
                    <div class="col-md-12">
                        <b>@Html.DisplayNameFor(modelItem => item.Reading): </b>
                        @Html.DisplayFor(modelItem => item.Reading)
                    </div>
                </div>
                <div class="row pt-2">
                    <a asp-action="EditDevice" asp-route-id=@item.DeviceID class="col-sm-4 rounded-left btn-outline-secondary text-center" text-decoration="none">Edit</a>
                    <div class="col-sm-4 btn-outline-secondary text-center details">Details</div>
                    <a asp-action="DeleteDevice" asp-route-id=@item.DeviceID class="col-sm-4 rounded-right btn-outline-secondary text-center" text-decoration="none">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
